@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    margin: 30px 0px;
    z-index: 999;
}

.chico-moedas {
    width: 70px;


}

nav {
    display: flex;
    align-items: center;
}

.a {
    margin: 0 2rem;
    text-decoration: none;
    color: #074470;
    transition: ease 0.6s;
}
.a:hover{
    transform: scale(1.1);
}

.a-diferente {
    background: #da2030;
    border: 3px solid #fff;
    border-radius: 20px;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    margin-left: 80px;
    transition: .6s ease;
}
.a-diferente:hover{
background-color: #ff0000;
}
.div1 {
    background-color: white;
    height: 40px;
    width: 10%;
}

.banner{
    width: 100%;
}

.div2 {
    background-color: white;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
}

body {
    background-color: rgb(42, 116, 177);
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

.img {
    font-size: 40px;
    padding: 90px;
    margin: 30;

    display: flex;
    justify-content: center;
    background-color: #6396e9;
    box-sizing: border-box;
    background-position: center bottom;

    align-items: center;
}

.onde {
    color: red;
}
.onde:hover{
    font-size: 5rem;
}
.copo-chico{
transition: all .4s;
height: 110vh;
}
.copo-chico:hover{
 transform: scale(1.1);  
}
.franqueado {
    display: flex;
    justify-content: end;
    background-color: rgb(243, 176, 32);
    height: 110vh;
}

.franqueado div{
    width: 33%;
   
}
.h2-franq{
    border-radius: 10px;
    border: 3px solid #940f0f;
    padding: 1rem;
    width: 400px;
}
.h2-franq a{
    width: 100%;
    text-decoration: none;
    font-size: 25px;
    color: #941717;
}
.espiral{
  margin-left: -5rem;
margin-top: 40vh;
}

.estado {
    display: block;
    width: 30%;
}

.input {
    display: flex;
    padding: 7px;
    margin: 5px 40px 5px 40px;
    background-color: #6396e9;
    border-radius: 150px;
    border: 3px solid #04080c85;
}

.title {
    margin-top: -60px;
}

.text {
    color: #64270b;
    font-weight: 900;
    margin: 120px 0;
    font-size: 2.5rem;
    
}

.lob{
    overflow: hidden;
}
.lob img{
    height: 110vh;
}
.a4 {
    font-size: 60px;
    color: #a82d33;
    margin: 0px 0px 100px;
}

.cor {
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
}

.casquinha {
    width: 350px;
    z-index: 100px;
    margin-top: auto;
}

.logo {
    width: 200px;
    z-index: 200px;
    margin-left: -40px;
}

.antiga {
    width: 180px;
    z-index: 300px;
    margin-left: -338px;
}

.box-img {
    align-items: center;
    display: flex;
    margin: 160px;
}

.textinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.a5 {
    color: #a82d33;
    font-size: 24px;
    text-decoration: none;
}

.a6 {
    color: #a82d33;
    font-size: 24px;
    text-decoration: none;
    margin: 0px 0px 50px;
}

.div-footer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.div1-footer {
    margin: 0px 0px 0px 24px;
}

.h1-footer {
    color: rgb(0, 68, 255);
    font-size: 28.8px;

}

.h3-footer {
    font-size: 16px;
}

.img-footer {
    width: 150px;

}

.div2-footer {
    margin: 0px 0px 0px 24px;

}

.h2-footer {
    color: rgb(0, 68, 255);
    font-size: 25px;
    margin: 0px 0px 20px;
}

.a-footer {
    text-decoration: none;
    display: block;
    font-size: 20px;
    transition: ease.6s;
}
.a-footer:hover{
   transform: scale(1.1) ;
}
.impro-footer {
    background-color: white;
}

.img2 {
    width: 25px;
    transition: 0.6s ease;
}
.img2:hover{
    transform: scale(1.1);  
}

.div-final {
    margin-left: 30px;
    
}
.fim{
    transition: 0.6s ease;
}
.fim:hover{
    transform: scale(1.1);
}